{% extends 'adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="page-inner">

    <!-- PAGE MAIN WRAPPER
                ================================================== -->
    <div id="main-wrapper">

        <!-- row -->
        
        <!-- end row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card card-white">
                    <div class="card-heading clearfix">
                        <h4 class="card-title">Add New Coupons Here</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <br>
                            {{form|crispy}}
                            <br>

                            <div>
                                <button type="submit" class="btn btn-primary">Add Coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>











{% endblock %}