{% extends 'adminbase.html' %}

{% block content %}
{% load static %}
<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
	<div class="content">
		<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
			<div>
				<h1>Product</h1>
				<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
					<span><i class="mdi mdi-chevron-right"></i></span>Product
				</p>
			</div>
			<div>
				<a href="{%url 'admin_addproducts'%}" class="btn btn-primary"> Add Porduct</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-default">
					<div class="card-body">
						<div class="table-responsive">
							{% if products %}
							<table id="responsive-data-table" class="table" style="width:100%">
								<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>slug</th>
										<th>price</th>
										<th>image</th>
										<th>Stock</th>
										<th>category</th>
										<th>description</th>
										<!-- <th>Action</th> -->
									</tr>
								</thead>

								<tbody>
									{%for i in products %}
									<tr>
										<th scope="row">{{i.id}}</th>
										<td>{{i.product_name}}</td>
									
										
										<td>{{i.slug}}</td>
										<td>{{i.price}}</td>
										<td><img class="tbl-thumb" src="{{i.image.url}}" style="height: 70px;width: 70px;" alt="Product Image" /></td>
										<td>{{i.stock}}</td>
										<td>{{i.category}}</td>
										<td>{{i.description}}</td>
										<!-- <td>ACTIVE</td> -->
										<td>2021-10-30</td>
										<td>
											<div class="btn-group mb-1">
												<button type="button" class="btn btn-outline-success">Info</button>
												<button type="button"
													class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
													data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
													data-display="static">
													<span class="sr-only">Info</span>
												</button>

												<div class="dropdown-menu">
													<a class="dropdown-item" href="{% url 'update_products' i.id %}">Edit</a>
													<a class="dropdown-item" href="{% url 'delete_products' i.id %}">Delete</a>
												</div>
											</div>
										</td>
									</tr>

									{% endfor %}

								</tbody>

							</table>
							{% else %}
							<h4 class="text-center">no records</h4>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->


<!-- Footer -->
{% endblock %}