{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- PAGE TITLE
        ================================================== -->
<section class="page-title-section bg-img cover-background" data-background="{% static 'home/img/bg/page-title.jpg' %}">
    <div class="container">

        <div class="title-info">
            <h1>Shop Cart</h1>
        </div>
        <div class="breadcrumbs-info">
            <ul class="ps-0">


            </ul>
        </div>

    </div>
</section>

<!-- CART TABLE
                ================================================== -->
<section class="md">
    <div class="container">
        {% if not cart_items %}
        <h2 class="text-center">Your Shopping Card Is Empty</h2>
        <br>
        <div class="text-center">

            <a href="{%  url 'user_products' %}" class="btn btn-primary">Continue Shopping</a>
        </div>
        {% else %}
        <div class="row">

            <!-- product table -->
            <div class="col-12 shop-cart-table" id="cartItemdiv">
                <table class="table shop-cart text-center">
                    <colgroup>
                        <col width="100">
                        <col>
                        <col width="1">
                        <col>
                        <col width="100">
                        <col width="1">
                    </colgroup>

                    <thead>
                        <tr>
                            <th class="first"></th>
                            <th class="text-start text-uppercase font-weight-500">Product</th>
                            <th class="text-start text-uppercase font-weight-500">Price</th>
                            <th class="text-center text-uppercase font-weight-500">Qty</th>
                            <th class="text-start text-uppercase font-weight-500">Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <input type="hidden" id="myVar" name="variable" value="{{ variable }}">
                        {% for cart_item in cart_items %}
                        <tr id="cart_item_row{{cart_item.product.id}}">
                            <td class="product-thumbnail text-start">
                                <a href="{% url 'user_productdetails' cart_item.product.id %}"><img
                                        src="{{cart_item.product.image.url}}" alt="..."></a>
                            </td>
                            <td class="text-start">
                                <a
                                    href="{% url 'user_productdetails' cart_item.product.id %}">{{cart_item.product.product_name}}</a>
                                <span class="text-uppercase d-block"></span>
                                {% if cart_item.variations.all %}
                                {% for item in cart_item.variations.all %}
                                {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}<br>

                                {% endfor %}
                                {% endif %}


                            </td>
                            <td class="text-start">
                                ₹{{cart_item.product.price}}
                            </td>
                            <td class="product-quantity">
                                
                                <div id="formcontainerdiv{{cart_item.product.id}}" class="input-group w-auto justify-content-end align-items-center" style="margin-right: 152px;margin-left:-147px;">
                                    <button  class="btn"  onclick="decrement('{{cart_item.product.id}}')" >-</button>
                                    <input id="itemquantity{{cart_item.product.id}}" value="{{cart_item.quantity}}"
                                        name="quantity" class="quantity-field border-0 text-center w-25">
                                    <form id="incrementform{{cart_item.product.id}}">
                                        {% csrf_token %}
                                        {% for item in cart_item.variations.all %}
                                        <input type="hidden" name="{{ item.variation_category | lower}}"
                                            value="{{item.variation_value  | capfirst}}">
                                        {% endfor %}
                                        <input type="hidden" id="cart_itemid{{cart_item.product.id}}" name="cart_itemid"
                                            value="{{cart_item.id}}">
                                        <button  onclick="increment('{{cart_item.product.id}}')" class="butn-style2 small bg-color mb-2 mb-md-0"
                                            type="button"><span>+</span></button>    
                                    </form>
                                </div>
                            </td>

                            <td id="subtotal{{cart_item.product.id}}" class="product-subtotal text-start">₹{{cart_item.sub_total}}</td>

                            <td class="product-remove text-center">
                               <button onclick="removecartitem('{{cart_item.product.id}}')" class="butn-style2 small bg-color mb-2 mb-md-0"><span class="text-danger">Remove</span></button>
                            </td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
            <!-- end product table -->

            <!-- button set -->
            <div class="col-12 border-bottom py-1-9 py-lg-2-3 mb-3 mb-md-4 mb-lg-0">

                <a href="{%  url 'user_products' %}"><button
                        class="butn-style2 small bg-color float-end ms-2 mb-2 mb-md-0"><span>Continue
                            Shopping</span></button></a>

            </div>
            <!-- end button set -->

            <!-- total block set -->
            <div class="col-12 cart-total pt-1-9 pt-lg-2-3" id="cart_details">
                <div class="row">

                    <div class="col-lg-5 col-md-5 mb-1-9 mb-md-0">
                        <div id="accordion" class="accordion-style3">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Coupon Code
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordion">
                                    <div class="card-body">

                                        <form>

                                            <div class="row">

                                                <div class="col-sm-12 mb-2">

                                                    <div class="form-group">
                                                        <label>Enter Your Coupon Code</label>
                                                        <input type="text" class="form-control" name="couponcode"
                                                            placeholder="Enter Your Coupon Code">
                                                    </div>

                                                </div>

                                            </div>

                                            <button type="button" class="butn-style2 small">Apply Code</button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">

                                    </h5>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 offset-lg-1 col-md-7 offset-md-0">
                        <table class="table cart-sub-total">
                            <tbody>
                                <tr>
                                    <th class="text-end pe-0 text-uppercase">Cart Subtotal</th>
                                    <td class="text-uppercase text-end pe-0" id="total"> ₹{{total}}</td>
                                </tr>
                                <tr>
                                    <th class="text-end pe-0 text-uppercase" >Tax</th>
                                    <td class="text-uppercase text-end pe-0" id="tax"> ₹{{tax}}</td>
                                </tr>
                                <tr>
                                    <td class="pe-0 p-0" colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr class="total">
                                    <th class="text-uppercase text-end pe-0 p-0">Grand Total</th>
                                    <td class="text-uppercase text-end pe-0 p-0" id="grandtotal"> ₹{{grand_total}}</td>
                                </tr>
                                <tr>
                                    <td class="pe-0 p-0" colspan="2">
                                        <hr class="mb-0">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn butn-style2 float-end bg-info rounded" href="{% url 'checkout'%}"><span>Proceed to
                                Checkout</span></a>
                    </div>
                </div>
            </div>
            <!-- end total block set -->

        </div>
        {% endif %}

    </div>
</section>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('#dec-button').click(() => {
        var result = document.getElementById('sst'); 
        var sst = result.value;
        if( !isNaN( sst ) && sst > 0 ) result.value--;
        return false;
    })
  </script>
  
<script type="text/javascript"> 
    
    function increment(pid){
        console.log(pid,'id increment')
        const form = document.getElementById('incrementform'+pid);
        const formData = new FormData(form)
        const data = Object.fromEntries(formData)

        console.log(data,'data from the from increment')

        $.ajax({
           url: "{% url 'incqnty' %}",
           method:'POST',
           data: {
                'csrfmiddlewaretoken':data.csrfmiddlewaretoken,
                'pid':pid,
                'cid':data.cart_itemid,
           },
           dataType: 'json',

           success: function(data){
            console.log(data,'data from the response',pid)
               if(data.success){
                $('#itemquantity'+pid).val(data.qnty)
                $('#subtotal'+pid).html('₹'+ data.sub_total)
                $('#total').html('₹'+data.total)
                $('#tax').html('₹'+data.tax)
                $('#grandtotal').html('₹'+data.grand_total)
                if(data.out_of_stock){
                    Swal.fire(
                            'Oops!',
                            'Out of stock.',
                            'warning'
                            )
                }
               }else{
                 alert('fail')
               }
            }
       });

    }

    function decrement(pid){
        console.log(pid,'id increment')
        const form = document.getElementById('incrementform'+pid);
        const formData = new FormData(form)
        const data = Object.fromEntries(formData)

        console.log(data,'data from the from decremnt')

        $.ajax({
           url: "{% url 'decqnty' %}",
           method:'POST',
           data: {
                'csrfmiddlewaretoken':data.csrfmiddlewaretoken,
                'pid':pid,
                'cid':data.cart_itemid,
           },
           dataType: 'json',

           success: function(data){
            console.log(data,'data from the response')
               if(data.success){
                $('#itemquantity'+pid).val(data.qnty)
                $('#subtotal'+pid).html('₹'+ data.sub_total)
                $('#total').html('₹'+data.total)
                $('#tax').html('₹'+data.tax)
                $('#grandtotal').html('₹'+data.grand_total)
               }else{
                 alert('fail')
               }
            }
       });
    }
 </script>




<script>
    

    function removecartitem (cart_pro_id){
        event.preventDefault();
        const cart_item_id = document.getElementById('cart_itemid'+cart_pro_id).value
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
            if (result.isConfirmed) {
                console.log('remove confirmed....')
                $.ajax({
                    url: "{% url 'remove_cart_item' %}",
                    type: 'POST',
                    data:{
                        'pid':cart_pro_id,
                        'cid':cart_item_id,
                    },
                    dataType: 'json',
                    success: function(data) {
                        // Do something with the result
                        console.log(data ,'remove result...')
                        if(data.success){
                            Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                            ).then((res)=>{
                                console.log('removed item....')

                                $('#itemquantity'+cart_pro_id).val(data.qnty)
                                $('#subtotal'+cart_pro_id).html('₹'+ data.sub_total)
                                $('#total').html('₹'+data.total)
                                $('#tax').html('₹'+data.tax)
                                $('#grandtotal').html('₹'+data.grand_total)
                                
                                document.getElementById('cart_item_row'+cart_pro_id).innerHTML = ''
                                if(data.cart_count == 1){
                                    document.getElementById('cartItemdiv').innerHTML = `<h2 class="text-center">Your Shopping Card Is Empty</h2>
        <br>
        <div class="text-center">

            <a href="{%  url 'user_products' %}" class="btn btn-primary">Continue Shopping</a>
        </div>`

        document.getElementById('cart_details').innerHTML = ``
                                }
                            })
                            
                        }else{
                            Swal.fire(
                            'Oops!',
                            'something wrong.',
                            'warning'
                            )
                        }

                    }
                });
                
             }
            })
    }
</script>




{% endblock %}
