{% extends 'base.html' %}
{% block content %}
{% load static %}






<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Your Order History</strong>

                    </header>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Order #</th>
                                            <th scope="col">Billing Name</th>
                                            <th scope="col">Phone </th>
                                            <th scope="col">Order Total</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for  order in orders %}
                                        <tr>
                                            <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a></th>
                                            <td>{{order.first_name}} {{order.last_name}}</td>
                                            <td>{{order.phone}}</td>
                                            <td>{{order.order_total}}</td>
                                            <td>{{order.created_at}}</td>
                                            <td>
                                                {% if order.status == 'Delivered' %}
                                                {% if today > add %}
                        
                                              </td>
                                              <td>


                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a">
                                                  Delivered</button>
                                                <p class="text-center text-danger">no return available</p>
                                              </td>
                                              {% else %}
                                              <td>
                        
                                                </button>
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                  data-bs-target="#a{{order.id}}">Return</button>
                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="a{{order.id}}" tabindex="-1" role="dialog"
                                                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">reason for Returning</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                      </div>
                                                      <div class="modal-body">
                                                        You are Returning #{{order.order_number}}
                                                      </div>
                                                      <div class="modal-footer">
                                                        <form action="{% url 'return_order' order.order_number %}" method="post"
                                                          class="form-control  d-flex justify-content" style="padding:0" id="form">
                                                          {% csrf_token %}
                                                          <input type="text" class="form-control" id="back" name="return_reason" required>
                                                          <button type="submit" class="btn btn-secondary">Return</button>
                                                        </form>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                                                      </div>
                        
                        
                        
                                                    </div>
                                                  </div>
                                                </div>
                        
                        
                        
                                              </td>
                                              {%endif%}
                                              {% elif order.status == 'Cancelled' %}
                                              <td>
                        
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a">
                                                  Cancelled</button>
                                              </td>
                                              {% elif order.status == 'Returned' %}
                                              <td>
                        
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                  data-bs-target="#a">Returned</button>
                                              </td>
                                              {% else %}
                                              <td>
                        
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                  data-bs-target="#a{{order.id}}">Cancel</button>
                        
                        
                        
                        
                        
                        
                                                <!-- Modal -->
                        
                        
                        
                        
                        
                                                <div class="modal fade" id="a{{order.id}}" tabindex="-1" role="dialog"
                                                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Alert</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                      </div>
                                                      <div class="modal-body">
                                                        You are Cancelling #{{order.order_number}}
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <a href="{% url 'cancel_order' order.order_number %}"><button type="submit"
                                                            class="btn btn-primary">Cancel</button></a>
                        
                                                      </div>
                        
                        
                        
                                                    </div>
                                                  </div>
                                                </div>
                        
                        
                                              </td>
                                              {% endif %}
                        
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                            </div>
                        </div>





                    </div> 
        </div> 
        
        </article> 
        </main>
    </div> 
    </div>


</section>

{% endblock %}