{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- ekka Cart End -->

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Checkout</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">Checkout</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<section class="md">
    <div class="container">
        <div class="row">


            <!-- left pannel section -->
            <div class="card mb-5">
                <h5 class="card-header">Review Products</h5>
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>


                            </tr>
                        </thead>
                        <tbody>

                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <a href="#"> <img src="{{ cart_item.product.image1.url }}"
                                                    style="width:70px;height:70px" alt=""></a>
                                        </div>
                                        <div class="media-body" style="margin-left:10px;">
                                            <p class="text-primary medium">{{ cart_item.product.product_name }}</p>
                                            <p class="text-danger small" style="margin-top: -21px;">
                                                {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                {{ item.variation_category | capfirst }} :
                                                {{item.variation_value|capfirst }} <br>
                                                {% endfor %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p class="card-text">{{ cart_item.quantity }}</p>
                                </td>
                                <td>
                                    <h5>₹{{ cart_item.sub_total }}</h5>
                                </td>

                            </tr>
                            {% endfor %}



                        </tbody>
                    </table>
                      
                </div>
            </div>
            <div class="row">
                <div class="d-flex">
                    
                    <div class="col-lg-12 col-md-12 ms-6 " style="display: flex; justify-content: flex; ">
                        {% if coupons %}
            <div class="accordion col-md-8 col-lg-8 col-12" id="accordionExample">
                <h5>Available Coupons:</h5>
                {% for item in coupons %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="text-dark">{{forloop.counter}}.</span> <b>-{{item.coupon.discount}}% Off</b>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>*</b>Applicable only for order price more than <b>₹{{item.coupon.min_value}}\-</b></p>
                            <span class="ml-3">Coupon Code: <b class="text-danger">{{item.coupon.code}}</b></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
                        <div class="shoping__continue mb-4 ml-3 justify-content-end" >
                            <div class="shoping__discount"  >
                                <h5>Discount Codes</h5>
                                <form id="coupon_form">
                                    <input type="text" id="coupon_data" placeholder="Enter your coupon code">
                                    <button type="submit" class="site-btn btn-warning m-1">APPLY COUPON</button>
    
                                </form>
                            </div>
                            <p class="text-danger mt-3" id="output"></p>
                            
                        </div>
    
                        
                    </div>


                </div>
            </div>
            

            
            <!-- <div class="row " >
                <div  >
                    <div class="col-12 col-md-4 ms-3" >
                        <div class="shoping__continue mb-4" style="margin-left: -15px;">
                            <div class="shoping__discount">
                                <h5 class="text-center">Discount Codes</h5>
                                <form id="coupon_form">
                                    <input type="text" id="coupon_data" placeholder="Enter your coupon code">
                                    <button type="submit" class="site-btn btn-primary m-1">APPLY COUPON</button>
    
                                </form>
                            </div>
                            <p class="text-danger mt-3" id="output"></p>
                        </div>
    
                        <p class="text-danger mt-3" id="output"></p>
                    </div>
                </div>
    
                {% if coupons %}
                <h5 >Available Coupons:</h5>
                <div class="accordion"   id="accordionExample" >
                    
                    {% for item in coupons %}
                    <div class="accordion-item"  style="width:350px">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="text-dark">{{forloop.counter}}.</span> <b>-{{item.coupon.discount}}% Off</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p><b>*</b>Applicable only for order price more than <b>₹{{item.coupon.min_value}}\-</b></p>
                                <span class="ml-3">Coupon Code: <b class="text-danger">{{item.coupon.code}}</b></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
    
    
    
                </div>
                {% endif %}
    
            </div> -->

        </div>


        <form class="row contact_form" action="{% url 'place_order' %}" method="POST">
            {% csrf_token %}

            <div class="billing_details container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <h3>Billing Details</h3>

                        <p>
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample" required>
                                Choose Address
                            </a>
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                data-bs-target="#a{{i.id}}">
                                Add Address
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="row mx-3 d-flex justify-content-between">
                                {% for item in address %}
                                <div class="form-check">
                                    {% if forloop.counter == 1 %}
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        value="{{item.id}}" id="flexRadioDefault1" checked>
                                    {% else %}
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        value="{{item.id}}" id="flexRadioDefault1">
                                    {% endif %}
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        <div class="collapse" id="collapseExample">

                                            <div class="card card-body">
                                                <h5 class="card-header bg-dark text-white">Address {{forloop.counter}}
                                                </h5>
                                                <div class="p-2">
                                                    <p class="card-text mb-0">
                                                        <b>{{item.first_name}} {{item.last_name}}</b> <br>
                                                        {{item.phone}}<br>
                                                        {{item.email}}<br>
                                                        {{item.address_line_1}}<br>
                                                        {{item.address_line_2}}<br>
                                                        {{item.state}}
                                                    </p>
                                                    <p class="cart-text mb-0">{{item.country}}</p>
                                                    <p class="cart-text mb-0">{{item.city}}</p>
                                                    <a href="{% url 'deleteCheckoutAddress' item.id %}"><button
                                                            class="btn btn-primary btn-sm mr-2">Delete</button></a>
                                                </div>
                                            </div>
                                        </div>

                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>



                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="order_box mt-5 pt-5">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li>
                                    <a href="#">Product<span>Total</span></a>
                                </li>
                                {% for cart_item in cart_items %}
                                <li>
                                    <a href="#">{{ cart_item.product.product_name }}<span class="middle">x {{cart_item.quantity }}</span>
                                        <span class="last">₹{{ cart_item.sub_total }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a href="#">Net total <span>₹{{total}}</span></a>
                                </li>
                                <li>
                                    <a href="#">tax <span>₹{{tax}}</span></a>
                                </li>
                                <li>
                                    <div class="checkout__order__total" id="coupon_block" style="display: none;">
                                        Discount <span>- ₹<b id="coupon_discount"></b></span>
                                        <h1 class="text-danger" style="font-size: 12px;">*Coupon Applied - <b id="coupon_code"></b></h1>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Grand total <span id='grand_total'>₹{{grand_total}}</span></a>
                                    <input type="text" name="coupon" id="coupon_code1" style="display: none;">
                                </li>
                            </ul>
                            <!-- <button type="submit" class="btn btn-warning btn-lg btn-block mb-2">
                                Place order
                            </button> -->
                            {% if  not address %}
                            <button
                              type="submit"
                              class="btn btn-danger btn-lg btn-block mb-2" disabled>
                              Add a address in above feild
                            </button>
                            {% else %}
                            <button
                              type="submit"
                              class="btn btn-warning btn-lg btn-block mb-2">
                              Place order
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="modal fade" id="a{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'AddCheckoutAddress' %}" method="POST"
                                        enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>First Name</label>
                                                {{form.first_name}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Last Name</label>
                                                {{form.last_name}}
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Phone Number</label>
                                                {{form.phone}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Email</label>
                                                {{form.email}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Address Line 1</label>
                                                {{form.address_line_1}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Address Line 2</label>
                                                {{form.address_line_2}}
                                            </div>


                                            <div class="form-group col-md-6">
                                                <label>State</label>
                                                {{form.state}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Country</label>
                                                {{form.country}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>City</label>
                                                {{form.city}}
                                            </div>

                                        </div>



                                       

                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href=""><button type="submit" class="btn btn-primary">Save</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- end left pannel section -->

        <!-- right pannel section -->

</section>

<!-- Ec checkout page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-checkout-leftside col-lg-8 col-md-12 ">
                <!-- checkout content Start -->
                <div class="ec-checkout-content">
                    <div class="ec-checkout-inner">
                        <div class="ec-checkout-wrap margin-bottom-30">


                        </div>
                        

                    </div> 
                </div>
                <!--cart content End -->
            </div>
            <!-- Sidebar Area Start -->
            <div class="ec-checkout-rightside col-lg-4 col-md-12">
                <div class="ec-sidebar-wrap">
                    <!-- Sidebar Summary Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-sb-title">
                            <h3 class="ec-sidebar-title">Summary</h3>
                        </div>
                        <div class="ec-sb-block-content">
                            <div class="ec-checkout-summary">
                                <div>
                                    <span class="text-left">Sub-Total</span>
                                    <span class="text-right">₹{{total}}</span>
                                </div>
                                <div>
                                    <span class="text-left">Delivery Charges</span>
                                    <span class="text-right">₹26.50</span>
                                </div>
                                <div>
                                    <span class="text-left">Coupan Discount</span>
                                    <span class="text-right"><a class="ec-checkout-coupan">Apply Coupan</a></span>
                                </div>
                                <div class="ec-checkout-coupan-content">
                                    <form class="ec-checkout-coupan-form" name="ec-checkout-coupan-form" method="post"
                                        action="#">
                                        {% csrf_token %}
                                        <input class="ec-coupan" type="text" required=""
                                            placeholder="Enter Your Coupan Code" name="ec-coupan" value="">
                                        <button class="ec-coupan-btn button btn-primary" type="submit" name="subscribe"
                                            value="">Apply</button>
                                    </form>
                                </div>
                                <div class="ec-checkout-summary-total">
                                    <span class="text-left">Total Amount</span>
                                    <span class="text-right">₹{{grand_total}}</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Sidebar Summary Block -->
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $('#coupon_form').on('submit', function (e) {

        e.preventDefault();
        console.log('function calling..... coupon')
        $.ajax({
            type: "POST",
            url: "{% url 'coupons' %}",
            data: {
                coupon: $('#coupon_data').val(),
                grand_total: '{{grand_total}}',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",

            },

            success: function (data) {
                $('#output').html(data.msg) /* response message */
                $('#grand_total').text('₹' + data.grand_total)
                if (data.coupon_discount > 0) {
                    $('#coupon_block').show()
                    $('#accordionExample').hide()
                }
                $('#coupon_discount').html(data.coupon_discount)
                $('#coupon_code').html(data.coupon_code)
                $('#coupon_code1').val(data.coupon_code)


            },

            failure: function () {

            }


        });


    });  
</script>

{% endblock %}